.map {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.navbar-map {
  justify-content: center;
  .add-marker-btn{
    border-radius: 50%;
  }
}

.popup {
  justify-content: center;
  height: 40em;
  width: 45em;
}
