.darken-map {
  background-color: rgba(236, 181, 181, 0.3);
  width: 200vw;
  position: absolute;
  height: 150vw;
  margin-left: calc(-50vw + 50%);
  margin-top: calc(-50vw + 50%);
  pointer-events: none;
  z-index: -1;
}

.popup-sub {
  justify-content: center;
  height: 40em;
  width: 45em;
}

.leaflet-popup-content-wrapper {
  background: transparent;
  transform: scale(1.2,1.2) !important;

}

.leaflet-popup-content-wrapper:hover{
  background: rgba($color: #ffffff, $alpha: 1.0);
  opacity: (1);
  transform: scale(1,1) !important;
  .hidden-card {
    display: block;
  }  
}

.hidden-card {
  display: none;
}

.leaflet-popup-content {
  margin: 0 !important;
  line-height: 1.4;
  width: 100% !important;
  background: border-box;
}


.marker-picture-container {
  align-items: baseline;
  justify-content: flex-end;
}

.marker-picture {
  object-fit:scale-down;
  height: 60%;
  width: 100%;
}

.delete-picture-btn {
  position: absolute;
  display: flex;
  margin: 0;
}

.location-text {
  display: flex;
}

.country-text{
  margin: 0 !important;
  text-align:right;
}

.latlng-txt{
  text-align:right;
  margin: 0 !important;
  margin-top: auto !important;
  margin-left: auto;
}

.marker-btns {
  background-color: none !important;
}